<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no">
    <title></title>
</head>

<body>
    <% for (var js in htmlWebpackPlugin.files.js) { %>
    <script defer src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
    <% } %>
    <div id="root"></div>
</body>

</html>